{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="about_taital_main">
                     <div class="about_taital">{{ one.name }}</div>
                     <p class="about_text">{{ one.about }}</p>
<!--                     <div class="read_bt"><a href="#">Read More</a></div>-->
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_img"><img src="{{ one.shop_photo.url }}"></div>
                  <br>
                  <br>
<br>
               </div>
            </div>
         </div>
      </div>

      <!-- about section end -->

{% endblock content %}